.trui-input-checkbox
{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  input {
	margin-right: 10px;
  }

  h4, input {
	display: flex;
	cursor: pointer;
	user-select: none;
  }

  h4
  {
	font-size: 15px;
	font-family: inherit;
	font-weight: 300;
	line-height: 1.1;
	color: #555555;
	text-align: center;
  }
}