.trui-table
{
  font-weight: 300;
  margin-top: 25px;
  table
  {
	width: 100%;
	max-width: 100%;
	margin-bottom: 20px;
	background-color: transparent;
	border-collapse: collapse;
	border-spacing: 0;

	th
	{
		font-size: 12px;
	  font-weight: 600;
	  text-transform: uppercase;
	  vertical-align: bottom;
	  border-bottom: 2px solid #ddd;
	  padding: 8px;
	  line-height: 1.42857;
	  text-align: left;
	}

	td
	{
		font-size: 12px;
	  padding: 8px;
	  line-height: 1.42857;
	  vertical-align: top;
	  border-top: 1px solid #ddd;
	}

	a
	{
		color: black;
		text-decoration: none;
		&:hover
		{
			text-decoration: underline;
		}
	}

	&.table-striped
	{
	  tbody
	  {
		tr:nth-of-type(odd)
		{
		  background-color: #ffffff;
		}
	  }
	}

	&.table-bordered {
	  border: 1px solid #ddd;

	  thead
	  {
		border: 1px solid #ddd;
		background-color: #eee;
	  }

	  tbody
	  {
		td
		{
		  border: 1px solid #ddd;
		}
	  }
	}

	&.table-hover
	{
	  tbody
	  {
		tr:hover
		{
			background-color: #eee;
		}
	  }
	}
  }
}