.trui-panel
{
  overflow: hidden;
  max-height: 0;
  transition: all .3s ease-in-out;
  background-color: #ffffff;

  &.expanded
  {
    max-height: 500px;
    margin-top: 30px;
  }

  >.trui-panel-body
  {
    border: 1px solid #dddddd;
    padding: 15px;
  }
}