.trui-form-control
{
  display: block;
  width: 100%;
  height: 34px;
  outline: none;
  background-color: #ffffff;
  border: 1px solid #ccc;
  padding: 6px 12px;
  border-radius: 2px;
  font-weight: 400;
  font-size: 14px;
  color: #555;
  transition: border-color .3s ease-in;
  box-sizing: border-box;

  &:focus
  {
    border-color: #4d90fe;
  }
}