.trui-chart-wrapper
{
  position: relative;
  margin-bottom: 30px;
  padding: 15px 20px;
  background: #fff;
  border-radius: 3px;

  h4
  {
    font-size: 15px;
    font-family: inherit;
    font-weight: 300;
    line-height: 1.1;
    color: rgb(85, 85, 85);
    text-align: center;
  }
}