$sidebar-width: 200px;
$closed-sidebar-width: 50px;
$sidebar-bg-color: #242424;
$sidebar-color: #aaa;
$sidebar-transition-time: .3s;

.trui-sidebar
{

  &.open
  {

    .trui-sidebar-menu
    {
      width: $sidebar-width;
    }

    .trui-sidebar-content
    {
      margin-left: $sidebar-width;
    }
  }

  .trui-sidebar-content
  {
    margin-left: $closed-sidebar-width;
    transition: margin $sidebar-transition-time ease-in-out;
    // TODO: remove this style or correction
    overflow: hidden;
  }

  .trui-sidebar-menu
  {
    position: fixed;
    z-index: 0;
    left: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
    width: $closed-sidebar-width;
    background-color: $sidebar-bg-color;
    color: $sidebar-color;
    transition: width $sidebar-transition-time ease-in-out;

    .trui-sidebar-nav
    {
      padding: 10px 0;
      font-size: 14px;
    }
  }
}
