.trui-sidebar-header
{
  margin: 10px 0 20px;
  height: 50px;
  width: 100%;
  line-height: 50px;
  text-align: center;
  vertical-align: middle;
  font-weight: 700;
  transition: all 0.3s ease-in-out;
  text-overflow: ellipsis;
  white-space: nowrap;

  &.open
  {
    .logo
    {
      opacity: 1;
      font-size: 16px;
    }

    .icon
    {
      width: 0px;
      height: 0px;
    }
  }

  .logo
  {
    opacity: 0;
    font-size: 0;
    transition: all 0.3s ease-in-out;
  }

  .icon
  {
    width: 35px;
    height: 35px;
    transition: all 0.2s ease-in-out;
    border-radius: 50%;
    display: flex;
    margin: auto;
    background-size: 25px 25px;
    background-color: white;
    background-position: 5px 5px;
    background-repeat: no-repeat;
  }

  a
  {
    color: #fff;
    text-decoration: none;
  }
}

