.trui-feed-button
{
  display: block;
  font-size: 12px;
  border-radius: 3px;
  text-align: center;
  padding: 6px 9px;
  border: 1px solid #95a5a6;
  cursor: pointer;
  outline: none;
  user-select: none;
  color: #555;
  background-color: #ffffff;

  &[disabled]
  {
	pointer-events: none;
	opacity: 0.7;
  }

  // for icons
  >i
  {
    margin-right: 8px;
  }

  &:hover
  {
    border-color: #74898a;
  }

  &:active
  {
    border-color: #566566;
  }
}