.trui-sidebar-menu-title
{
  margin: 35px 0 5px 11px;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.1;
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  white-space: nowrap;

  &.open
  {
    opacity: 1;
  }
}