.trui-sidebar-submenu
{
  padding: 6px 0;
  background-color: #313131;

  &.collapsed
  {
    display: none;
  }

  >a
  {
    padding: 5px 0 5px 0;
    text-decoration: none;
    font-weight: 300;
    color: #aaa;
    font-size: 11px;
    display: block;
    width: 100%;
    transition: background-color .3s ease-in;

    >span
    {
      padding-left: 40px;
    }

    &.active
    {
      color: #ffffff;
      font-weight: 400;
    }

    &:hover
    {
      background-color: #1e1e1e;
    }
  }
}