.trui-collapse-button
{
  position: relative;
  text-align: right;
  padding: 15px 20px;
  background: #fff;
  border-radius: 5px 5px 0 0;
  margin: 1px;
  margin-bottom: -30px;

  h4
  {
	position: absolute;
	top: 0px;
	font-size: 15px;
	font-family: inherit;
	font-weight: 300;
	line-height: 1.1;
	color: #555555;
	text-align: center;
  }

  i
  {
    color: #555;
    padding: 5px;
    border: 2px solid #555;
    border-radius: 5px;
    cursor: pointer;
  }
}