.trui-search-input
{
  position: relative;
  display: table;
  border-collapse: separate;
  height: 40px;

  input
  {
	border-radius: 2px 0 0 2px;
	outline: none;
	display: table-cell;
	position: relative;
	z-index: 2;
	float: left;
	width: 100%;
	margin-bottom: 0;
	font-weight: 400;
	box-shadow: none;
	height: 60px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857;
	color: #555;
	background-color: #fff;
	border: 1px solid #ccc;
	transition: border-color ease-in-out 0.15s,box-shadow ease-in-out 0.15s;
  }

  span
  {
	position: relative;
	font-size: 0;
	white-space: nowrap;
	width: 1%;
	vertical-align: middle;
	display: table-cell;

	button
	{
	  outline: none;
	  height: 60px;
	  z-index: 2;
	  margin-left: -1px;
	  position: relative;
	  color: #333;
	  background-color: #f8f8f8;
	  display: inline-block;
	  margin-bottom: 0;
	  font-weight: normal;
	  text-align: center;
	  vertical-align: middle;
	  touch-action: manipulation;
	  cursor: pointer;
	  border: 1px solid #ccc;
	  white-space: nowrap;
	  padding: 6px 20px;
	  font-size: 14px;
	  line-height: 1.42857;
	  border-radius: 0 4px 4px 0;
	  user-select: none;
	}
  }
}