.trui-tabs-wrapper
{
    &:after,
    &:before
    {
        content: " ";
        display: table;
    }

    .trui-tabs
    {
        border-bottom: none;
        background-color: #ddd;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        float: left;
        margin-bottom: 0;
        padding-left: 0;
        list-style: none;
        margin-top: 0;

        &:after,
        &:before
        {
            content: " ";
            display: table;
        }
    }
}