.trui-nav-bar
{
  width: 100%;
  height: 50px;
  background-color: #fff;

  &:after,
  &:before
  {
    content: " ";
    display: table;
  }

  .nav-bar-outlet
  {
    padding: 0 15px;
    height: 100%;
  }
}