.trui-tab-item
{
    margin-bottom: 0;
    float: left;
    position: relative;
    display: block;

    &.active
    {
        a
        {
            box-shadow: 1px 1px 2px #ccc;
            color: #555;
            background-color: #fff;
            border: 1px solid #ddd;
            border-bottom-color: transparent;
            cursor: default;
        }
    }

    a
    {
        padding: 12px 18px;
        border: none;
        cursor: pointer;
        color: #999;
        transition: color 0.15s ease-in-out;
        margin-right: 2px;
        line-height: 1.42857;
        border-radius: 4px 4px 0 0;
        position: relative;
        display: block;
        user-select: none;
    }
}