.trui-sidebar-menu-item
{

  &.open
  {
    .toggle
    {
      display: block;
    }

    .true-sub-menu-wrapper
    {
      display: block;
    }
  }

  .true-sub-menu-wrapper
  {
    display: none;
  }

  // top level link style
  >a
  {
    white-space: nowrap;
    position: relative;
    text-decoration: none;
    color: #aaa;
    // TODO: Change to inherit
    background-color: #242424;
    display: block;
    width: 100%;
    transition: background-color .3s ease-in;
    font-size: 12px;
    border-top: 1px solid #2d2d2d;
    line-height: 35px;
    font-weight: 300;
    padding-top: 2px;
    padding-bottom: 2px;

    .icon
    {
      display: inline-block;
      height: 30px;
      width: 30px;
      border-radius: 50%;
      vertical-align: middle;
      position: relative;
      margin-right: 10px;
      margin-left: 10px;
      font-size: 18px;

      i
      {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
    }

    .toggle
    {
      display: none;
      float: right;
      margin-right: 15px;
      margin-top: 3px;
      font-size: 16px;
      width: 28px;
      height: 28px;
      position: relative;

      i
      {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
      }
    }

    // active link style
    &.active
    {
      color: #f2be35;

      .icon
      {
        background-color: #f2be35;
        color: #242424;
      }
    }

    &:hover
    {
      background-color: #111;
    }
  }

  // last link need to have bottom border
  &:last-child
  {
    >a
    {
      border-bottom: 1px solid #2d2d2d;
    }
  }
}
