.trui-navbar-navitem
{
  display: flex;
  float: left;
  color: #666;
  padding: 10px 15px;
  vertical-align: middle;
  text-decoration: none;
  line-height: 30px;
  cursor: pointer;
  height: 100%;
  box-sizing: border-box;
  font-size: 13px;

  i
  {
    margin: auto;
  }

  .bold
  {
    font-weight: 700;
  }

  &:hover
  {
    color: #333;
  }
  &:focus
  {
    color: #333;
    background-color: #eee;
  }
}