.trui-slider
{
  .trui-slide-icon
  {
    height: 300px;
    position: relative;
    >i
    {
      font-size: 30px;
      cursor: pointer;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
}