.trui-modal-wrapper
{
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0);
  transition: all 0.3s ease-out;
  pointer-events: none;
  z-index: 100;

  &.open {
	background-color: rgba(255, 255, 255, 0.7);
	pointer-events: all;

	.trui-modal-outlet {
	  top: 0;
	  align-items: center;

	  .trui-modal {
		opacity: 1;
	  }
	}
  }

  .trui-modal-outlet {
	position: fixed;
	top: 100%;
	bottom: 0;
	left: 0;
	right: 0;
	transition: all 0.3s ease-in;
	background: transparent;
	display: flex;
	justify-content: center;

	.trui-modal {
	  width: 30vw;
	  text-align: center;
	  position: relative;
	  opacity: 0;
	  transition: all 0.3s ease-out;
	  background-color: white;
	  border-radius: 7px;
	  padding: 25px;
	  border: 1px solid #ccc;

	  input:not([type="checkbox"]) {
		width: 100%;
		margin-bottom: 20px;
	  }

	  .close {
		position: absolute;
		right: 5px;
		top: 5px;
		cursor: pointer;
	  }
	}
  }
}